* {
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

main {
  /* min-width: 250px; */
  width: 452px;
  /* padding: 30px; */
  margin: 0 auto;
  
}


.hero img {
  width: 452px;
  /* height: 200px; */
  margin-bottom: 20px;
}

.thumbnails {
  /* height: 200px; */
  height: 65px;
  overflow: hidden;
  font-size: 0; /* hack to remove gap btw inline-block elements */
}


.thumbnail img{
  display: inline-block;
  width: 110px;
  vertical-align: top;
  margin-right: 4px;
}

.thumbnail:nth-of-type(4) img {
  margin: 0;
}