* {
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

main {
  width: 452px;
  margin: 0 auto;
}

.hero img {
  width: 452px;
  height: 298px;
  /* overflow: hidden; */
  object-fit: cover;
  
}

.thumbnails {
  height: 72px;
  /* overflow: hidden; */
  font-size: 0; /* hack to remove gap btw inline-block elements */
}

.thumbnail {
  display: inline-block;
  width: 110px;
  height: 72px;
  vertical-align: top;
  object-fit: cover;
  margin-right: 4px;
}

.thumbnail:nth-of-type(4) {
  margin: 0;
}

.selected-thumbnail {
  border: 3px solid red;
}

.selected-thumbnail:focus,
.selected-thumbnail:active {
  outline: none;
  /* dunno if it is kosher from an a11y standpoint
  that I've replaced the outline with visually styled border instead? */
}

